<footer class="bg-light text-center text-lg-start mt-4 py-3">
    <div class="container">
        <p class="text-muted mb-0">
            &copy; <%= new Date().getFullYear() %> Your Company. All rights reserved.
        </p>
    </div>
</footer>
<script src="/scripts/catalog.js"></script>

<!-- Script Bootstrap JS dan dependencies dari CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>